source/__pycache__/helpers.cpython-311.pyc
source/__pycache__/settings.cpython-311.pyc
source/__pycache__/helpers.cpython-311.pyc
server.log
client_daan.log
source/__pycache__/language.cpython-311.pyc
